
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 240, 219);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    padding: 1rem;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
}

h1 {
    color: rgb(88, 34, 81);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

p,
h6 {
    color: rgb(88, 34, 81);
}

/* Topic Section*/

.topic {
    display: flex;
    justify-content: space-between;~
    gap: 3rem;
    margin-bottom: 3rem;
}

.topic > div:first-child {
    flex: 1;
}

.stars {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Star Boxes */

.star1,
.star2,
.star3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgb(238,233,233);
    padding: 12px 20px;
    border-radius: 8px;
    width: 350px;
}

.star1 {
    margin-right: auto;
}

.star2 {
    margin: 0 auto;
}

.star3 {
    margin-left: auto;
}

.star {
    display: flex;
    gap: 5px;
}

.rate1,
.rate2,
.rate3 {
    font-weight: bold;
}

/* Cards Section */

.cards {
    display: flex;
    gap: 1.5rem;
}

.card {
    flex: 1;
    background: rgb(88,34,81);
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
}



.card_image {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card_image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card h4,
.card p {
    color: white;
}

.card h4 {
    margin-bottom: 4px;
}

.card p {
    line-height: 1.6;
    font-size: .95rem;
}

h5 {
    color: rgb(241,55,241);
}

h6 {
    font-size: .8rem;
    margin-top: 3px;
}

/* Tablet */

@media (max-width: 900px) {

    .topic {
        flex-direction: column;
    }

    .stars {
        width: 100%;
    }

    .star1,
    .star2,
    .star3 {
        width: 100%;
        margin: 0;
    }

    .cards {
        flex-direction: column;
    }
}

/* Mobile */

@media (max-width: 600px) {
    .star1,
    .star2,
    .star3 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px;
    }
    .rate{
        text-align: center;
        width: 100%;
    }
}
